body {background-image: url("images/Albums.png");background-size: cover; background-position: center;font-family:'Ink Free';display:flex;flex-wrap:wrap;text-align:center;}
.page{border: 2px solid #9DB0CA;padding:1%;margin:1%}
nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}
nav ul li button {
	margin-top:5vh;
	margin-left:6vw;
}
#page1{background:#CBA1A0;width:94vw;height:300vh;}
#page2{background:#F9E441;width:94vw;height:135vh;}
#page3{background:#247CDE;width:94vw;height:200vh;}
#page4{background:#F9E441;width:90vw;height:73vh;margin-top:6%}
#page6{background:#9DB0CA;width:90vw;height:193vh;}
#page7{background:#247CDE;width:90vw;height:120vh;}
#page8{background:#A68281}
#page9{background:#A68281}
#page10{background:#A68281}
#page11{background:#A68281}
#page12{background:#A68281}
#page13{background:#247CDE;width:90vw;height:73vh;margin-top:6%}
#page14{background:#CBA1A0;width:90vw;height:73vh;margin-top:6%}
/*CSS for responsive menu*/
#hamIcon{display:none;}
@media (max-width:800px)
{
#page3{height:215vh;}
#page1{height:320vh;}
#page2{height:155vh;}
#page6{height:195vh;}
nav ul li{display:inline;}
#hamIcon{display:block;}
nav ul{display:none;}
article{flex:80%;}
}
/*to unhide menu items*/
.menuShow{display:block;}
#noteId 
{
	position: relative;
	width:7vw;
	height:15vh;
	transition: opacity 0.25s, width 0.25s, height 0.25s;
	padding: 4%;
	margin-right:100vw;
	border: 2px solid green;
}
#noteId.shrink{width:2vw;opacity: 0;height:7vh}
@keyframes noteFrames{
0%{rotate:0}
25%{rotate:90deg}
50%{rotate:180deg}
75%{rotate:270deg}
100%{rotate:360deg}
}
@keyframes pageanimation
{
	0%{opacity: 0}
	100%{opacity: 1}
}
@keyframes buttonanimation
{
	0%{padding:1%;}
	100%{padding:1.5%;background-color:#7F93A3}
}
@keyframes pagebuttonanimation
{
	0%{padding:5%;}
	100%{padding:8%;background-color:#7F93A3}
}
#noteId.anim1{animation: noteFrames 3s;}
.pageanim{animation: pageanimation 0.5s;}
#gamebox{height:30vh;width:37.5vw;margin-left:27.7vw;}
article {background-color:#DA603D;height:73vh;padding-top:0vh;flex:100%;margin:1%;border: 2px solid #9DB0CA;margin-left:5%;margin-right:5%}
#text{padding-bottom:0vh}
header {background-color:#2596BE;flex:100%;vertical-align:top;margin:1%;border: 2px solid #9DB0CA}
button{background-color:#9DB0CA;padding:1%;margin:1%;flex:80%}
button:hover{animation: buttonanimation 1s;padding:1.5%;background-color:#7F93A3}
.pagebutton{padding:5%}
.pagebutton:hover{animation:pagebuttonanimation 1s;padding:8%}
section{border: 2px solid #9DB0CA;padding:2%;margin:1%;}
.textbox{text-align:left;padding-left:4%;padding-right:4%}
#History
{
	width:319.2px;
	height:199.4px;
	background-image: url('images/Sprite.jpg');
	background-position: 0 0;
}
#Why
{
	width:168.5px;
	height:252.8px;
	background-image: url('images/Sprite.jpg');
	background-position: -319.2px 0;
}
#Benefits
{
	width:267.7px;
	height:199.4px;
	background-image: url('images/Sprite.jpg');
	background-position: -487.7px 0;
}
#Darwin
{
	width:295.9px;
	height:199.4px;
	background-image: url('images/Sprite.jpg');
	background-position: -758.3px 0;
}
#note
{
	width:89px;
	height:128.7px;
	background-image: url('images/Sprite.jpg');
	background-position: -1254.4px -275.2px;
}
#arrow2
{
	margin-right:3%;
	width:44.4px;
	height:44.4px;
	background-image: url('images/Sprite.jpg');
	background-position: -1493.9px -150.2px;
}
#arrow3
{
	margin-left:3%;
	width:44.4px;
	height:44.4px;
	background-image: url('images/Sprite.jpg');
	background-position: -1324.2px -115.5px;
}
#ear
{
	width:81.1px;
	height:128.7px;
	background-image: url('images/Sprite.jpg');
	background-position: -1375.9px -274.2px;
}
#talking
{
	width:150.5px;
	height:128.7px;
	background-image: url('images/Sprite.jpg');
	background-position: -1502.3px -274.2px;
}
#brain
{
	width:146.5px;
	height:128.7px;
	background-image: url('images/Sprite.jpg');
	background-position: -1040.3px -274.2px;
}
#dumbell
{
	width:131.1px;
	height:128.7px;
	background-image: url('images/Sprite.jpg');
	background-position: -841.2px -274.2px;
}
.arrow1
{
	animation:arrows 0.5s;
	width:44.4px;
	height:44.4px;
	background-image: url('images/Sprite.jpg');
	background-position: -1697.9px -115.4px;
}